@using OBilet.Presentation.UI.Web.Services.Extension
@model JourneyListViewModel


<div clas="container">
    <div class="card">
        <div class="card-header " style="background-color:#2F4EB4; height: 72pt">
            <div class="text-center text-white">
                  <h3>
                      <a href="@Url.Action("Index", "Home")" class="text-start" style="float:left; color:white;">Geri</a>
                      <span>@Model.JourneyResponse.Data.Data.FirstOrDefault().OriginLocation - @Model.JourneyResponse.Data.Data.FirstOrDefault().DestinationLocation</span>
                    </h3>
                 <p>@Model.DepartureDateText</p>
            </div>
        </div>

        <div class="card-body">
            <div class="list-group">
                @foreach (var item in Model.JourneyResponse.Data.Data)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Kalkış</h6>
                                </div>

                                <div class="col-6">
                                    <h6>Varış</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <h6 style="color:#192289">@item.Journey.Departure.ToShortTimeString()</h6>
                                </div>

                                <div class="col-3">
                                    <h6 style="color:#192289">@item.Journey.Arrival.ToShortTimeString()</h6>
                                </div>

                                <div class="col-3">
                                    <div class="badge text-wrap" style="background-color:#d23b38">
                                        @item.Journey.InternetPrice.TurkishLiraWithoutCurrency() @item.Journey.Currency
                                    </div>
                                </div>
                            </div>
                        </div>


                        <small>@item.Journey.Origin - @item.Journey.Destination</small>
                    </a>
                }
            </div>
        </div>
    </div>
</div>